/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-image:url("background.jpg"); 	
	-fx-background-color:#383838;
}

.label{
	-fx-text-fill:white; 
}

.button{
	-fx-background-color:linear-gradient(#383838, #FFA07A);    
}

.treeview{
	-fx-background-color:black;
	-fx-font-style:italic;
}

.scroll-pane > .viewpoint{
-fx-background-image:url("background.jpg"); 	
}

.grid-pane{
	-fx-background-color:aquamarine; 
}